{% for file in finderFiles %}
    {% set preview  = preview(fileManager,file) %}
    <tr>
        <td><input type="checkbox" class="checkbox" name="delete[]" value="{{ file.fileName }}"></td>
        <td>{{ preview.html|raw }}</td>
        <td {% if fileManager.module %}
            {% if imageSize[file.fileName] is defined and imageSize[file.fileName] %}data-width="{{ imageSize[file.fileName].0 }}"
                data-height="{{ imageSize[file.fileName].1 }}"
            {% endif %}
            data-path="{{ preview.path|raw }}"
            class="select"
                {% endif %}>{{ file.fileName }}
        <td>
            <small>{{ file.mTime|date('d/m/Y') }}</small>
        </td>
        {% set size = file.size / 1000 %}
        <td>
            <small>{{ size > 1000 ? (size / 1000)|number_format(1, '.', '')~' '~ 'size.mb'|trans  : size|number_format(1, '.', '')~' '~'size.kb'|trans }}</small>
        </td>
        <td>
            <small>
                {% if imageSize[file.fileName] is defined and imageSize[file.fileName] %}
                    {{ imageSize[file.fileName].0 }}
                    × {{ imageSize[file.fileName].1 }}
                {% endif %}
            </small>
        </td>
        <td>
            <span data-toggle="tooltip" title="{{ 'title.delete'|trans }}">
                <button type="button"
                        class="btn btn-xs btn-danger js-delete-modal"
                        data-trigger="click"
                        data-container="body"
                        data-toggle="modal"
                        data-target="#js-confirm-delete"
                        data-placement="left"
                        data-html="true"
                        data-href='{{ path('file_manager_delete', fileManager.queryParameters|merge({'delete[]':file.fileName})) }}'>
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </span>
            <span data-toggle="tooltip" title="{{ 'title.rename.file'|trans }}">
                <button type="button"
                        class="btn btn-xs btn-default js-rename-modal"
                        data-trigger="click"
                        data-container="body"
                        data-toggle="modal"
                        data-target="#js-confirm-rename"
                        data-placement="left"
                        data-html="true"
                        data-name='{{ file.basename('.'~file.extension) }}'
                        data-extension='{{ file.extension }}'
                        data-href='{{ path('file_manager_rename', fileManager.queryParameters|merge({'fileName':file.fileName})) }}'>
                <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </span>
        </td>
    </tr>
{% endfor %}