{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% form_theme formRename 'bootstrap_3_layout.html.twig' %}
<!doctype html>
<html lang="en" id="dropzone">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('bundles/artgrisfilemanager/libs/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet"
          href="{{ asset('bundles/artgrisfilemanager/libs/components-font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet"
          href="{{ asset('bundles/artgrisfilemanager/libs/jstree/dist/themes/default/style.min.css') }}">
    <link rel="stylesheet"
          href="{{ asset('bundles/artgrisfilemanager/libs/blueimp-file-upload/css/jquery.fileupload.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/artgrisfilemanager/css/manager.css') }}">
    <link rel="stylesheet"
          href="{{ asset('bundles/artgrisfilemanager/libs/jQuery-contextMenu/dist/jquery.contextMenu.min.css') }}">
    <title>File Manager</title>
</head>
<body>
<div class="container-fluid ">
    <div class="well-sm top-bar" id="top-bar">
        <a type="button" title="{{ 'button.tree'|trans }}"
           href="{{ path('file_manager', fileManager.queryParameters|merge({'tree': fileManager.tree == true ? 0 : 1 })) }}"
           class="btn btn-sm btn-default {{ fileManager.tree ? 'active' }}">
            <span class="fa fa-navicon"></span>
        </a>
        {% if fileManager.parent %}
            <a class="btn btn-default btn-sm"
               title="{{ 'button.parent'|trans }}"
               href="{{ fileManager.parent }}">
                <span class="fa fa-level-up"></span></a>
        {% endif %}
        <button type="button" title="{{ 'button.refresh'|trans }}" class="btn btn-default btn-sm "
                onClick="window.location.reload()">
            <i class="glyphicon glyphicon-refresh"></i>
        </button>

        <span class="btn btn-success btn-sm fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>{{ 'button.add.files'|trans }}</span>
        <input id="fileupload" type="file"
               data-url="{{ path('file_manager_upload', fileManager.queryParameters) }}"
               name="files[]" multiple=""
               accept="{{ fileManager.configuration.accept is defined ? fileManager.configuration.accept : (fileManager.type ? accept(fileManager.type)) }}">
        </span>

        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addFolder">
            <i class="glyphicon glyphicon-plus"></i>
            <span>{{ 'button.add.folder'|trans }}</span>
        </button>
        {% if fileManager.parent %}
            <button type="button"
                    class="btn btn-sm btn-danger js-delete-modal"
                    data-trigger="click"
                    data-container="body"
                    data-toggle="modal"
                    data-target="#js-confirm-delete"
                    data-placement="left"
                    data-html="true"
                    data-href='{{ path('file_manager_delete', fileManager.queryParameters) }}'>
                <span class="glyphicon glyphicon-remove"></span>
                <span>{{ 'button.delete.current'|trans }}</span>
            </button>
        {% endif %}
        <div class="btn-group pull-right">
            {% if fileManager.view != "list" %}
                {{ order(fileManager, 'name') }}
                {{ order(fileManager, 'date') }}
                {{ order(fileManager, 'size') }}
                {{ order(fileManager, 'dimension') }}
            {% endif %}
            <a type="button" href="{{ path('file_manager', fileManager.queryParameters|merge({'view':"list"})) }}"
               class="btn btn-sm btn-default {{ fileManager.view == 'list' ? 'active' }}">
                <span class="fa fa-th-list"></span>
            </a>
            <a type="button" href="{{ path('file_manager', fileManager.queryParameters|merge({'view':'thumbnail'})) }}"
               class="btn btn-sm btn-default {{ fileManager.view == 'thumbnail' ? 'active' }}">
                <span class="fa fa-th"></span>
            </a>
        </div>
    </div>
    <div class="row">
        {% if fileManager.tree %}
        <div class="col-xs-12  col-sm-4 col-md-3 col-lg-2">
            <div class="table-responsive">
                <div id="tree"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 no-tree-blk">
            {% else %}
            <div class="col-lg-12">
                {% endif %}
                <form id="form-multiple-delete">
                    {% include '@ArtgrisFileManager/views/_'~fileManager.view~'.html.twig' with {'fileManager' :fileManager,  'fileArray' : fileArray, 'formDelete' : formDelete} only %}
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="js-confirm-delete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{ 'title.delete'|trans }}</h4>
                </div>
                <div class="modal-body">
                    {{ 'confirm.delete'|trans }}
                </div>
                <div class="modal-footer">
                    {{ form_start(formDelete, {"attr" : {'class':'pull-right'}}) }}
                    <input type="hidden" name="_method" value="DELETE"/>
                    {{ form_rest(formDelete) }}
                    <button type="submit" class="btn btn-danger pull-right" data-toggle="tooltip" title="DELETE">
                        {{ 'button.delete.action'|trans }}
                    </button>
                    {{ form_end(formDelete) }}
                    <button type="button" class="btn btn-default pull-left"
                            data-dismiss="modal"> {{ 'button.cancel'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="js-confirm-rename" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                {{ form_start(formRename) }}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{ 'title.rename.file'|trans }}</h4>
                </div>
                <div class="modal-body">
                    {{ form_row(formRename.name) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left"
                            data-dismiss="modal">{{ 'button.cancel'|trans }}
                    </button>
                    {{ form_row(formRename.send) }}
                </div>
                {{ form_end(formRename) }}
            </div>
        </div>
    </div>
    <div class="modal fade" id="addFolder" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                {{ form_start(form) }}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{ 'title.add.folder'|trans }}</h4>
                </div>
                <div class="modal-body">
                    {{ form_row(form.name) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left"
                            data-dismiss="modal">{{ 'button.cancel'|trans }}
                    </button>
                    {{ form_row(form.send) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('bundles/artgrisfilemanager/libs/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/artgrisfilemanager/libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/artgrisfilemanager/libs/jstree/dist/jstree.min.js') }}"></script>
<script src="{{ asset('bundles/artgrisfilemanager/libs/blueimp-file-upload/js/vendor/jquery.ui.widget.js') }}"></script>
<script src="{{ asset('bundles/artgrisfilemanager/libs/blueimp-file-upload/js/jquery.iframe-transport.js') }}"></script>
<script src="{{ asset('bundles/artgrisfilemanager/libs/blueimp-file-upload/js/jquery.fileupload.js') }}"></script>
<script src="{{ asset('bundles/artgrisfilemanager/libs/sticky-kit/jquery.sticky-kit.min.js') }}"></script>
<script src="{{ asset('bundles/artgrisfilemanager/js/betamax/jquery.getimagedata.js') }}"></script>
<script src="{{ asset('bundles/artgrisfilemanager/libs/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js') }}"></script>
<script src="{{ asset('bundles/artgrisfilemanager/libs/jQuery-contextMenu/dist/jquery.contextMenu.min.js') }}"></script>
<script>
    $(function () {
        // display session flash messages
        {% if app.session.started and app.session.flashBag.peekAll is not empty %}
        {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
        displayAlert('{{ type }}', '{{ message|trans|e('js') }}')
        {% endfor %}
        {% endfor %}
        {% endif %}

        var treedata = '{{ treeData|raw }}';
        var tree = {{ fileManager.tree ? 'true' : 'false' }}
        var module = '{{ fileManager.module }}';
        var successMessage = '{{ 'file.add.success'|trans }}';
        var url = {{ path('file_manager', fileManager.queryParameters|merge({'json':true}))|e('js') }}
    });
</script>
<script src="{{ asset('bundles/artgrisfilemanager/js/manager.js') }}"></script>
</body>
</html>
