
{% block javascripts %}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/theme.js') }}"></script>
    <script src="{{ asset('build/js/base.js') }}"></script>
    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script src="{{ url('bazinga_jstranslation_js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ asset('js/fos_js_routes.' ~ app.environment ~ '.js') }}"></script>
    <script src="{{ asset('build/js/mediaLibrary.js') }}"></script>
    <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
{% endblock %}

<div class="modal fade" id="js-confirm-delete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ 'title.delete'|trans }}</h4>
            </div>
            <div class="modal-body">
                {{ 'confirm.delete'|trans }}
            </div>
            <div class="modal-footer">
                {{ form_start(formDelete, {"attr" : {'class':'pull-right'}}) }}
                {{ form_widget(formDelete) }}
                {{ form_end(formDelete) }}
                <button type="button" class="btn btn-default pull-left" title="{{ 'button.cancel'|trans }}"
                        data-dismiss="modal"> {{ 'button.cancel'|trans }}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="js-confirm-rename" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {{ form_start(formRename) }}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ 'title.rename.file'|trans }}</h4>
            </div>
            <div class="modal-body">
                {{ form_row(formRename.name) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left"
                        data-dismiss="modal">{{ 'button.cancel'|trans }}
                </button>
                {{ form_row(formRename.send) }}
            </div>
            {{ form_end(formRename) }}
        </div>
    </div>
</div>
<div class="modal fade" id="addFolder" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {{ form_start(form) }}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ 'title.add.folder'|trans }}</h4>
            </div>
            <div class="modal-body">
                {{ form_row(form.name) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left"
                        data-dismiss="modal">{{ 'button.cancel'|trans }}
                </button>
                {{ form_row(form.send) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
<div class="modal fade" id="moveFile" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ 'title.move.file'|trans }}</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left"
                        data-dismiss="modal">{{ 'button.cancel'|trans }}
                </button>
            </div>
        </div>
    </div>
</div>
