<div class="modal fade" id="js-confirm-delete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ 'title.delete'|trans }}</h4>
            </div>
            <div class="modal-body">
                {{ 'confirm.delete'|trans }}
            </div>
            <div class="modal-footer">
                {{ form_start(formDelete, {"attr" : {'class':'pull-right'}}) }}
                {{ form_widget(formDelete) }}
                {{ form_end(formDelete) }}
                <button type="button" class="btn btn-default pull-left" title="{{ 'button.cancel'|trans }}"
                        data-dismiss="modal"> {{ 'button.cancel'|trans }}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="js-confirm-rename" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {{ form_start(formRename) }}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ 'title.rename.file'|trans }}</h4>
            </div>
            <div class="modal-body">
                {{ form_row(formRename.name) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left"
                        data-dismiss="modal">{{ 'button.cancel'|trans }}
                </button>
                {{ form_row(formRename.send) }}
            </div>
            {{ form_end(formRename) }}
        </div>
    </div>
</div>
<div class="modal fade" id="addFolder" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {{ form_start(form) }}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ 'title.add.folder'|trans }}</h4>
            </div>
            <div class="modal-body">
                {{ form_row(form.name) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left"
                        data-dismiss="modal">{{ 'button.cancel'|trans }}
                </button>
                {{ form_row(form.send) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
