<div class="row margin-bottom thumbnail-blk">
    {% block select_all %}
        <div class="col-md-12 select-all">
            <input type="checkbox" id="select-all" title="{{ 'select-all'|trans }}"> <label
                    for="select-all">{{ 'select-all'|trans }}</label>
        </div>
    {% endblock %}
    {% for fileEntity in fileArray %}
        {% set file = fileEntity.file %}
        <div class="{{ fileEntity.isImage() ? 'img' : file.type }} col-xs-6 col-sm-4 col-md-{{ fileManager.tree == 0 ? 3 : 4 }} col-lg-2 text-center thumbnail">
            {% block file_checkbox %}
                <input type="checkbox" class="checkbox" name="delete[]"
                       value="{{ file.fileName }}"
                       title="{{ file.fileName }}">
            {% endblock %}
            {% block file_preview %}
                <div class="thumbnail-img">
                    {{ fileEntity.preview ? fileEntity.preview.html|raw }}
                </div>
            {% endblock %}
            <p {{ fileEntity.attribut|raw }}>
                {% block file_name %}
                    {{ (fileEntity.preview.folder is defined ? fileEntity.preview.folder : file.fileName)|raw }}<br>
                {% endblock %}
                <small>{% block file_date %}{{ fileEntity.file.mTime|date('d/m/Y') }}{% endblock %} {% block file_size %}{{ fileEntity.HTMLSize ? ' - '~fileEntity.HTMLSize|trans|raw }}{% endblock %}</small>
                <br>
                {% block file_dimension %}
                    <small>{{ fileEntity.HTMLDimension }}</small>
                {% endblock %}
                <br>
            </p>
            <div class="row">
                {% block list_action %}
                    <span data-toggle="tooltip" title="{{ 'title.delete'|trans }}">
                        <button type="button"
                                class="btn btn-sm btn-danger js-delete-modal"
                                data-trigger="click"
                                data-container="body"
                                data-toggle="modal"
                                data-target="#js-confirm-delete"
                                data-placement="left"
                                data-html="true"
                                data-href='{{ path('file_manager_delete', fileManager.queryParameters|merge({'delete[]':file.fileName})) }}'>
                           <span class="far fa-trash-alt"></span>
                        </button>
                    </span>
                    <span data-toggle="tooltip" title="{{ 'title.rename.file'|trans }}">
                    <button type="button"
                            class="btn btn-sm btn-default js-rename-modal"
                            data-trigger="click"
                            data-container="body"
                            data-toggle="modal"
                            data-target="#js-confirm-rename"
                            data-placement="left"
                            data-html="true"
                            data-name='{{ file.basename('.'~file.extension) }}'
                            data-extension='{{ file.extension }}'
                            data-href='{{ path('file_manager_rename', fileManager.queryParameters|merge({'fileName':file.fileName})) }}'>
                    <span class="far fa-edit"></span>
                    </button>
                </span>
                    {% if file.type == "file" %}
                        <a data-placement="left" title="{{ 'title.download'|trans }}"
                           class="btn btn-sm btn-default js-download"
                           href="{{ path('file_manager_file', fileManager.queryParameters|merge({'fileName':file.fileName})) }}"
                           download>
                            <span class="fas fa-download"></span>
                        </a>
                        {% if fileEntity.isImage() %}
                            <span data-toggle="tooltip" title="{{ 'title.preview.file'|trans }}">
                                <button type="button"
                                        class="btn btn-sm btn-default js-open-modal"
                                        data-trigger="click"
                                        data-container="body"
                                        data-toggle="modal"
                                        data-target="#js-display-image"
                                        data-placement="left"
                                        data-href='{{ fileEntity.preview.path }}'>
                                <span class="fas fa-eye"></span>
                                </button>
                            </span>
                        {% endif %}
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    {% endfor %}
</div>
